
.about-page {

    .wrap-opening {
        background-color: #fff;
        background-image: url('http://jumper.digital/outkey/wp-content/uploads/2016/12/bg-circle-about-outkey.png');
        background-repeat: no-repeat;
        background-size: 550px;
        background-position: 0% 350%;
        @media(max-width: 600px) {
            background-position: bottom right;
        }

        .flex-opening {
            display: flex;
            align-items: flex-start;

            .left-title {
                width: 25%;
                text-align: right;
                padding: 0 30px 0 0;
                display: flex;
                flex-flow: column;
                // align-items: center;

                h2 {
                    font-family: 'montserratsemi_bold';
                    font-size: 3rem;
                    line-height: 55px;
                    margin: 0 0 30px;
                }
                &:after {
                    content: "";
                    display: block;
                    height: 10px;
                    width: 100%;
                    max-width: 130px;
                    margin-left: auto;
                    background-color: #00983D;
                }
            }

            .the-content-about {
                padding: 0 50px 0 0px;
                font-family: 'montserratlight';
                width: 45%;
                @media(max-width: 700px) {
                   padding: 0;
                }

                p {
                    font-size: 0.9rem;
                    line-height: 25px;
                }
            }

            .thumb-mobile {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                }
            }

            @media(min-width: 769px) {
               flex-flow: nowrap;
            }
            @media(max-width: 768px) {
                flex-flow: wrap;
                .left-title {
                    width: 30%;
                    h2 {
                        font-size: 2.6rem;
                        margin: 0;
                    }
                    &:after {
                        max-width: 250px;
                        margin: 30px auto 30px;
                    }
                }
                .the-content-about {
                    width: 70%
                }
                .thumb-mobile {
                    width: 100%
                }
            }
            @media(max-width: 600px) {
                flex-flow: column;
                .left-title {
                    width: 100%;
                    padding: 0;
                    h2 {
                        text-align: center;
                    }
                }
                .the-content-about {
                    width: 100%
                }
                .thumb-mobile {
                    width: 100%
                }
            }

        }

        .outkey-numbers {
            padding: 30px 0 0 0;
            ul {
                display: flex;
                justify-content: flex-start;

                li {
                    margin-right: 50px;
                    max-width: 170px;

                    h2 {
                        font-size: 3rem;
                        font-family: 'montserratsemi_bold';
                    }
                    p {
                        font-size: 1.2rem;
                        font-family: 'montserratsemi_bold';
                    }
                }

                @media(max-width: 768px) {
                    justify-content: center;
                }
                @media(max-width: 600px) {
                    flex-flow: column;
                    li {
                        margin: 20px 0;
                    }
                }

            }
        }

    }

    .outkey-team {
        background-color: #eee;
        padding: 0 0 80px;

        .section-title {
            display: flex;
            align-items: center;
            flex-flow: column;
            width: 100%;
            padding: 55px 0 40px;

            h2 {
                font-size: 2.5rem;
                font-family: 'montserratregular';
                margin: 0 0 15px;
            }

            &:after {
                content: "";
                background-color: #009A00;
                height: 12px;
                width: 100%;
                max-width: 200px;
            }

        }

        .list-team {
            max-width: 950px;
            width: 100%;
            margin: auto;


            ul {
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                li {
                    margin: 25px;
                }
            }

            .wrap-soldier {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 250px;
                width: 250px;
                padding: 15px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                position: relative;

                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                -webkit-filter: grayscale(100%);

                &:after {
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    opacity: 0;
                    transition: all 0.3s;

                    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0, 164, 51, 0.82) 100%);
                    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0, 164, 51, 0.82) 100%);
                    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0, 164, 51, 0.82) 100%);

                }

                .head-soldier {
                    color: #fff;
                    font-family: 'montserratregular';
                    position: relative;
                    z-index: 1;
                }

                .social-media_soldier {
                    display: flex;
                    flex-flow: nowrap;
                    justify-content: flex-end;
                    position: relative;
                    z-index: 1;

                    a {
                        color: #fff;
                        cursor: pointer;
                        border: 2px solid #fff;
                        margin-left: 10px;
                        height: 40px;
                        width: 40px;
                        border-radius: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5rem;

                        &:hover {
                            background-color: #009A00;
                            border-color: #009A00;
                        }
                    }
                }

                .head-soldier, .social-media_soldier {
                    opacity: 0;
                    transition: 0.3s;
                }

                &:hover {
                    -moz-filter: initial;
                    -o-filter: initial;
                    -webkit-filter: initial;
                    filter: initial;

                    .head-soldier, .social-media_soldier {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 1;
                    }

                }

            }
        }

    }

    .client-team {
        padding: 60px 0;

        .flex-clients {
            display: flex;
            flex-flow: wrap;

            .client-team_title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                @media(max-width: 800px) {
                    width: 100%;
                }

                h1 {
                    font-size: 4rem;
                    font-family: 'montserratsemi_bold';
                    line-height: 65px;
                    @media(max-width: 768px) {
                        margin-bottom: 60px;
                    }
                    @media(max-width: 600px) {
                        font-size: 2.4rem;
                        line-height: 45px;
                        margin-bottom: 30px;
                    }

                    b {
                        margin-left: 50px;
                        display: block;
                    }
                    b:last-child {
                        margin-left: 100px;
                    }
                }
            }

            .brand-content {
                margin: 30px 0px;
                padding: 0 30px;
                width: 25%;
                @media(max-width: 800px) {
                    width: 50%;
                    margin: 10px 0px;
                    padding: 0 10px;
                }

                .brand-client {
                    border: 2px solid #aaa;
                    border-radius: 5px;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }

        }

        .content-contact {
            padding: 50px 0;
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;

            h1 {
                font-family: 'montserratsemi_bold';
                margin: 0 0 30px;
                font-size: 3rem;
            }

            a {
                background-color: #000;
                color: #fff;
                font-family: 'montserratsemi_bold';
                font-size: 1.3rem;
                padding: 10px 20px;

                &:hover {
                    background-color: #009A00;
                }
            }

        }

    }

}