.faq-page {
    .wrap-opening {

        .title-faq-tabs {
            text-align: center;
            font-family: 'montserratsemi_bold';
            font-size: 1.7rem;
            max-width: 700px;
            padding: 50px 15px 0;
            margin: auto;
            display: block;
            color: #333;
            @media(max-width: 600px) {
                font-size: 1.4rem;
            }
        }

        .ReactTabs {
            padding: 0 0 5rem;
        }

        .ReactTabs__TabList {
            display: flex;
            justify-content: center;
            padding: 80px 0 0;

            .ReactTabs__Tab {
                border: 1px solid #888;
                padding: 10px 20px;
                font-size: 1.5rem;
                border-bottom: 0;
                font-family: 'montserratregular';
                margin: 0 5px;
                @media(max-width: 600px) {
                    font-size: 1.2rem;
                }

                &:hover {
                    background-color: #00983D;
                    color: #fff;
                    border-color: #00983D;
                }

                &.ReactTabs__Tab--selected {
                    background-color: #00983D;
                    color: #fff;
                    border-color: #00983D;
                    border-radius: 0;
                }

            }
        }

        .wrap-answers {
            display: flex;
            justify-content: center;
            padding: 60px 0;

            ul {
                display: flex;
                justify-content: center;
                flex-flow: column;
                width: 100%;
                max-width: 650px;

                li {
                    display: flex;
                    align-items: center;
                    flex-flow: column;
                    background-color: #E8E8E8;
                    border-radius: 5px;
                    margin: 0 0 15px;
                    justify-content: flex-start;

                    .question {
                        font-family: 'montserratregular';
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        flex-flow: nowrap;
                        padding: 25px 40px;
                        width: 100%;
                        background-color: transparent;
                        border: 0;
                        font-size: 1rem;
                        text-align: left;

                        .question-icon {
                            margin-left: -15px;
                        }

                        p {
                            margin: 0 0px 0px 20px;
                        }
                    }
                    .answers {
                        font-family: 'montserratlight';
                        width: 100%;

                        height: 0;
                        overflow: hidden;
                        padding: 0;
                        transition: all 0.5s;


                        p {
                            padding: 10px 0 10px 30px;
                            border-left: 1px solid #333;
                            opacity: 0;
                            transition: all 0.5s;
                        }

                        &.open-answers {
                            padding: 0px 40px 40px 40px;
                            height: auto;
                            overflow: initial;
                            p {
                                transition-delay: 0.3s;
                                opacity: 1;
                            }
                        }
                    }

                }
            }

            &.answers-users {

            }
            &.answers-company {

            }

        }

        .send-your-question {
            padding: 50px 0;
            background: #eee;

            .flex-question {
                display: flex;
                max-width: 990px;
                margin: auto;
                flex-flow: nowrap;

                @media(max-width: 1000px) {
                   flex-flow: column;
                   text-align: center;
                }

                .title-form {
                    width: 100%;
                    h2 {
                        font-family: 'montserratsemi_bold';
                        font-size: 2.6rem;
                        @media(max-width: 1000px) {
                            margin: 0 0 20px;
                        }
                    }
                }

                #contact-form-question {
                    width: 100%;
                }

                .success-form {
                    text-align: center;
                    h1 {
                        font-family: 'montserratsemi_bold';
                        font-size: 1.5rem;
                    }
                    p {
                        font-family: 'montserratregular';
                        font-size: 1.2rem;
                    }
                    span {
                        font-size: 1.5rem;
                        color: #009A00;
                    }
                }

                .contact-form-question {
                    align-items: center;
                    display: flex;
                    flex-flow: nowrap;
                    width: 100%;
                    font-family: 'montserratregular';

                    @media(max-width: 1000px) {
                       flex-flow: column;
                    }

                    .col-input, .col-submit {
                        display: flex;
                        flex-flow: column;
                        height: 129px;
                        @media(max-width: 1000px) {
                            width: 100%;
                        }
                    }

                    .col-submit {
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                        padding: 12px;
                        @media(max-width: 1000px) {
                            padding: 0;
                        }
                    }

                    .question-input {
                        border: 0;
                        height: 55px;
                        padding: 5px 15px;
                        font-size: 1.3rem;
                        box-sizing: border-box;
                        margin: 0 0 12px;
                        &:focus {
                            background-color: #FBFBFB;
                        }
                    }
                    .question-message {
                        border: 0;
                        height: 117px;
                        margin-left: 12px;
                        padding: 15px 20px;
                        box-sizing: border-box;
                        font-size: 1.3rem;
                        @media(max-width: 1000px) {
                            margin-left: 0;
                        }
                        &:focus {
                            background-color: #FBFBFB;
                        }
                    }

                    .submit-question {
                        background-color: #000;
                        color: #fff;
                        font-size: 1.2rem;
                        border-radius: 0px;
                        padding: 15px;
                        border: 0;
                        font-family: 'montserratsemi_bold';
                        cursor: pointer;
                        transition: all 0.3s;
                        margin-top: auto;

                        &:hover {
                            background-color: #222;
                        }
                    }

                }
            }
        }

    }
}