.home-your-company {
    padding: 70px 0 50px;
    // background-image: url('http://www.jumper.digital/outkey/wp-content/uploads/2016/11/section-bg.png');
    background-size: cover;
    background-position: center;
    background-color: #eee;

    .flex-your-company {
        display: flex;
        flex-flow: column;
        align-items: flex-end;

        .section-title {
            width: 60%;

            h2 {
                font-size: 4rem;
                font-family: 'montserratlight';
            }

            @media(max-width: 768px) {
                width: 100%;
                h2 {
                    font-size: 2rem;
                    text-align: center;
                }
            }
            @media(max-width: 1000px) {
                h2 {
                    font-size: 2rem;
                }
            }
        }

        .wrap-articles-goals {
            display: flex;
            justify-content: space-between;
            padding: 100px 0;
            width: 100%;

            article {
                width: calc(100%/3.2);

                .wrap-title {
                    display: flex;
                    flex-flow: nowrap;
                    align-items: center;
                    padding: 0 0 20px;

                    span {
                        align-items: center;
                        border: 1px solid #333;
                        border-radius: 100px;
                        box-sizing: border-box;
                        color: #222;
                        display: table;
                        font-size: 2rem;
                        height: 60px;
                        justify-content: center;
                        width: 60px;
                        margin-right: 15px;
                        padding: 12px 0;
                        text-align: center;
                    }

                    h3 {
                        font-size: 1.7rem;
                        font-weight: 400;
                        line-height: 30px;
                        width: 100%;
                        max-width: 250px;
                        @media(max-width: 600px) {
                            max-width: 210px;
                        }
                    }

                }

                p {
                    font-size: 0.9rem;
                    line-height: 25px;
                    font-family: 'montserratlight';
                }

            }

            .contactLink {
                padding: 10px;
                margin: 20px auto 0;
                text-align: center;
                font-family: 'montserratregular';
                color: green;
                border: 3px solid green;
                width: 80%;
                box-sizing: border-box;
                font-size: 1.2rem;
                border-radius: 5px;
            }

            @media(max-width: 768px) {
                flex-flow: column;
                padding: 50px 0 0;

                article {
                    width: 100%;
                    padding: 0 0 50px;
                }
            }
            @media(min-width: 769px) {
                .contactLink {
                    display: none;
                }
            }

        }

    }
}