.home-apresentation {
    padding: 0;
    z-index: 1;
    position: relative;

    .primary-apresentation {
        width: 100%;
        max-width: 720px;
        margin: auto;

        .apresentation-content {
            display: flex;
            border-bottom: 1px solid #ccc;
            flex-flow: column;
            align-items: center;
            padding: 50px 15px;

            span {
                margin: 0 0 30px;
                max-width: 80px;
                padding: 18px;
                border: 1px solid #333;
                border-radius: 100px;
                box-sizing: border-box;

                img {
                    width: 100%;
                    display: block;
                    height: auto;
                    opacity: 0.8;
                }
            }

            p {
                text-align: center;
                font-family: 'montserratlight';
                line-height: 28px;
            }

        }
    }

    .master-objective {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media(max-width: 1000px) {
            background-image: initial !important;
        }
        @media(max-width: 1100px) {
            background-size: 280px;
            background-position: 48% center;
        }
        @media(min-width: 1101px) {
            background-size: 330px;
        }

        ul {
            display: flex;
            flex-flow: wrap;
            width: 100%;
            margin: 50px 0;
            padding: 20px 0;

            @media(min-width: 1000px) {
                max-height: 600px;
                flex-direction: column;
            }
            @media(min-width: 1020px) {
                max-height: 620px;
            }

            li {
                display: flex;
                width: 50%;
                padding: 0 0 20px;
                text-align: right;

                @media(max-width: 1000px) {
                    width: 100%;
                    text-align: center;
                    justify-content: center !important;
                    padding: 0 0 50px;
                }
                @media(min-width: 1000px) {
                    min-height: 160px;
                }
                @media(min-width: 1020px) {
                    min-height: 180px;
                }

                .article_objective {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    @media(max-width: 1000px) {
                        width: 100%;
                        flex-flow: column;
                        align-items: center;
                    }

                    .the-content_objective {
                        width: 100%;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #ccc;
                        font-family: 'montserratlight';
                        order: 2;
                        margin-top: 15px;
                        @media(min-width: 1000px) {
                            order: 1;
                            margin-right: 20px;
                            margin-top: 0;
                        }

                        h2 {
                            font-size: 1rem;
                        }
                        p {
                            margin: 5px 0 0;
                            font-size: 14px;
                        }
                    }

                    .icon-article {
                        align-items: center;
                        background-color: #00A433;
                        border-radius: 100px;
                        color: #fff;
                        display: flex;
                        font-size: 2rem;
                        height: 70px;
                        justify-content: center;
                        margin: 0;
                        min-width: 70px;
                        padding: 0;
                        text-align: center;
                        width: 70px;
                        order: 1;
                        @media(min-width: 1000px) {
                            order: 2;
                        }
                    }
                }

                &:nth-child(n+4) {
                    justify-content: flex-end;
                    text-align: center;
                    @media(min-width: 1000px) {
                        text-align: left;
                    }

                    .article_objective {
                        .the-content_objective {
                            order: 2;
                            margin: 15px 0 0;
                            @media(min-width: 1000px) {
                                margin-left: 20px;
                                margin-right: 0;
                            }
                        }
                        .icon-article {
                            order: 1;
                        }
                    }
                }

            }
        }
    }

}

