
// Typings
@keyframes typing-one {
    0%   { width: 0; border-right: 2px solid #fff; }
    40%  { width: 255px; }
    80%  { width: 255px; }
    100% { width: 0; border-right: 2px solid #fff; }
}
@keyframes typing-two {
    0%   { width: 0; border-right: 2px solid #fff; }
    40%  { width: 285px; }
    80%  { width: 285px; }
    100% { width: 0; border-right: 2px solid #fff; }
}
@keyframes typing-three {
    0%   { width: 0; border-right: 2px solid #fff; }
    40%  { width: 280px; }
    80%  { width: 280px; }
    100% { width: 0; border-right: 2px solid #fff; }
}
@keyframes typing-four {
    0%   { width: 0; }
    100% { width: 135px; }
}

// Mobile version
@keyframes typing-one_mobile {
    0%   { width: 0; border-right: 2px solid #fff; }
    40%  { width: 108px; }
    80%  { width: 108px; }
    100% { width: 0; border-right: 2px solid #fff; }
}
@keyframes typing-two_mobile {
    0%   { width: 0; border-right: 2px solid #fff; }
    40%  { width: 123px; }
    80%  { width: 123px; }
    100% { width: 0; border-right: 2px solid #fff; }
}
@keyframes typing-three_mobile {
    0%   { width: 0; border-right: 2px solid #fff; }
    40%  { width: 118px; }
    80%  { width: 118px; }
    100% { width: 0; border-right: 2px solid #fff; }
}
@keyframes typing-four_mobile {
    0%   { width: 0; }
    100% { width: 85px; }
}

// Caret
@keyframes blink-caret {
    50% { border-color: transparent; }
}

.wrap-content_bg {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: stretch;

    height: 600px;
    overflow: hidden;
    position: relative;

    @media(min-width: 769px) {
        height: 100vh;
        overflow: hidden;
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.8;
        background: radial-gradient(circle at 4.62% 8.93%,   #000000, transparent 100%),
                    radial-gradient(circle at 60.34% 96.49%, #0b7d13, transparent 100%),
                    radial-gradient(circle at 15.99% 26.79%, #000000, transparent 100%),
                    radial-gradient(circle at 43.57% 4.98%,  #000000, transparent 100%),
                    radial-gradient(circle at 12.38% 53.73%, #000000, transparent 100%),
                    radial-gradient(circle at 90.6% 67.94%,  #0b7d13, transparent 100%);
    }

    .content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        z-index: 1;
    }

    .primary-title {
        color: #fff;
        max-width: 480px;
        margin: auto;
        padding: 100px 0 0;
        text-align: center;

        h2 {
            font-size: 3rem;
            font-family: 'montserratsemi_bold';
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.2rem;
            font-family: 'montserratsemi_bold';
            overflow: hidden;
            transition: all 0.3s;
            // height: 0;

            &#wrap-typing {
                display: flex;
                flex-flow: column;
                align-items: center;
                font-size: 3rem;
                @media(max-width: 600px) {
                    font-size: 1.5rem;
                }
            }

            .wrap-typing {
                align-items: center;
                display: flex;
                height: 60px;
                justify-content: center;
                width: 250px;
                position: relative;
                white-space: nowrap;

                @media(max-width: 700px) {
                   margin-left: 0;
                   width: 115px;
                   font-size: 1.3rem;
                   height: 23px;
                }

                span:nth-child(1) {
                    animation: typing-one 5s steps(12, end), blink-caret .5s step-end infinite;
                    animation-delay: 2s;
                    width: 0;
                    @media(max-width: 600px) {
                        animation: typing-one_mobile 5s steps(12, end), blink-caret .5s step-end infinite;
                        animation-delay: 2s;
                    }
                }
                span:nth-child(2) {
                    animation: typing-two 5s steps(12, end), blink-caret .5s step-end infinite;
                    animation-delay: 7s;
                    width: 0;
                    @media(max-width: 600px) {
                        animation: typing-two_mobile 5s steps(12, end), blink-caret .5s step-end infinite;
                        animation-delay: 7s;
                    }
                }
                span:nth-child(3) {
                    animation: typing-three 5s steps(12, end), blink-caret .5s step-end infinite;
                    animation-delay: 12s;
                    width: 0;
                    @media(max-width: 600px) {
                        animation: typing-three_mobile 5s steps(12, end), blink-caret .5s step-end infinite;
                        animation-delay: 12s;
                    }
                }
                span:nth-child(4) {
                    animation: typing-four 1s steps(8, end), blink-caret .5s step-end infinite;
                    border-right: 2px solid #fff;
                    display: none;
                    width: 135px;
                    left: 50%;
                    transform: translate(-50%,0%);

                    @media(max-width: 700px) {
                        width: 60px;
                        left: 50%;
                        transform: translateX(-50%);
                        animation: typing-four_mobile 1s steps(8, end), blink-caret .5s step-end infinite;
                    }
                }

                > span {
                    left: 50%;
                    transform: translate(-50%, 0%);
                    letter-spacing: -0.3px;
                    overflow: hidden;
                    position: absolute;
                    text-align: left;
                }

            }

        }

        p {
            font-size: 1rem;
            font-family: 'montserratregular';
            line-height: 25px;
        }

        @media(max-width: 768px) {
            h2 {
                font-size: 1.8rem;
                margin: 0 0 10px;
            }
        }
        @media(max-width: 600px) {
            h3 {
                font-size: 1rem;
                margin: 0 0 10px;
            }
            p {
                font-size: 0.85rem;
                line-height: 20px;
            }
        }

    }

    .flex-opening {
        display: flex;
        align-items: stretch;
        flex-flow: nowrap;
        justify-content: space-between;

        > div {
            width: 33.333%;
        }

        &:after {
            content: "";
            background: green;
            height: 15px;
            width: 100%;
            max-width: 600px;
            margin: auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }

        .outkey-movie {
            display: flex;
            align-items: center;
            @media(max-width: 768px) {
                width: 100%;
            }
            @media(max-width: 600px) {
                display: flex;
                justify-content: center;
                padding: 0px 0 60px;
            }

            a {
                display: flex;
                flex-flow: nowrap;
                font-family: 'montserratregular';
                color: #fff;

                span {
                    border: 1px solid #fff;
                    border-radius: 140px;
                    height: 80px;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s;

                    &:after {
                        content: "";
                        display: inline-block;
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        border-left: 25px solid #fff;
                        border-right: 0px solid transparent;
                        margin-left: 8px;
                        transition: all 0.5s;
                    }
                }

                p {
                    display: flex;
                    font-weight: 300;
                    font-size: 1.2rem;
                    justify-content: center;
                    flex-flow: column;
                    margin-left: 10px;

                    b {
                        font-size: 1.6rem;
                    }
                }

                &:hover {
                    span {
                        background-color: #fff;
                        box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.2);
                        &:after {
                            border-left: 25px solid #333;
                        }
                    }
                }

            }
        }

        .mobile-device_app {
            display: block;

            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin: auto;
            }

            @media(max-width: 768px) {
                width: 100%;
            }
            @media(max-width: 600px) {
                display: none;
            }
        }

        .app-download_stories {
            display: none;
            @media(min-width: 769px) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            a {
                display: block;
                margin-left: 15px;

                &.play-story {}
                &.apple-story {
                    img {
                        max-width: 145px;
                    }
                }
            }
        }

    }

    .modal-component {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);

        .modal-wrap {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;

            a {
                background: #000 !important;
                z-index: 1;
                font-size: 1.1rem;
            }

            .modal-iframe {
                position: relative;

                iframe {
                    width: 250px;
                    height: 138px;
                    @media(min-width: 600px) {
                       width: 420px;
                       height: 230px;
                    }
                    @media(min-width: 769px) {
                       width: 750px;
                       height: 420px;
                    }
                }
            }
        }
    }

}