
// Variables
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-youtube: #bb0000;
$color-instagram: #517fa4;

.footer-component {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    padding: 50px 0;
    position: relative;

    &:before {
        background-color: rgba(0,0,0,0.8);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.85;
        top: 0;
    }

    .content {
        position: relative;
        z-index: 1;
    }

    .social-media {
        display: flex;
        flex-flow: column;
        align-items: center;

        h2 {
            color: #fff;
            text-transform: uppercase;
            font-family: 'montserratlight';
            font-size: 1rem;
        }

        ul {
            display: flex;
            flex-flow: nowrap;
            justify-content: center;
            padding-top: 30px;

            li {
                margin: 0 10px;

                a {
                    border: 1px solid #fff;
                    border-radius: 100px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 65px;
                    width: 65px;
                    box-sizing: border-box;
                    padding: 15px;
                    font-size: 2rem;

                    @media(max-width: 600px) {
                        height: 45px;
                        width: 45px;
                       font-size: 1.4rem;
                    }

                    &.facebook-icon {
                        &:hover {
                            background-color: $color-facebook;
                            border-color: $color-facebook;
                        }
                    }
                    &.instagram-icon {
                        &:hover {
                            background-color: $color-instagram;
                            border-color: $color-instagram;
                        }
                    }
                    &.twitter-icon {
                        &:hover {
                            background-color: $color-twitter;
                            border-color: $color-twitter;
                        }
                    }
                    &.youtube-icon {
                        &:hover {
                            background-color: $color-youtube;
                            border-color: $color-youtube;
                        }
                    }

                }
            }
        }

    }

    .flex-footer {
        border-top: 1px solid #fff;
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0 0;
        padding: 0 0 20px;
        @media(max-width: 600px) {
           display: none;
        }

        nav {
            .navbarList {
                display: flex;
                justify-content: flex-start;
                li {
                    margin-right: 25px;
                    a {
                        font-family: montserratlight;
                        font-size: 1rem;
                        color: #fff;
                        padding: 20px;
                        display: block;

                        span {
                            display: block;
                            border-bottom: 1px solid transparent;
                        }

                        &:hover {
                            span {
                                border-color: #fff;
                            }
                        }
                    }
                    &:first-child {
                        a {
                            padding-left: 0;
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }

                &.downloads {
                    display: none;
                }
            }
        }

        .brand-jumper-digital {
            a {
                background-color: #fff;
                border-radius: 100px;
                display: block;
                overflow: hidden;
                max-width: 34px;

                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }

    .brand-outkey {
        display: flex;
        justify-content: center;
        @media(max-width: 600px) {
           padding: 50px 0 0;
        }

        a {
            max-width: 150px;
            img {
                display: block;
                height: auto;
                width: 100%;
            }
        }
    }

}

