
// All Html
html,
button,
input,
select,
textarea {
    color: #222;
    outline: none;
}

html {
    font-size: 1em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0; }
ul, li { list-style-type: none; }

a,
button,
li,
a:hover, a:focus,
button:hover { outline: none; text-decoration: none; list-style: none; transition: all 0.4s; }

::-moz-selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

.content {
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.BGgif {
    background-image: 'http://jumper.digital/outkey/wp-content/uploads/2016/12/loading.gif';
    background-size: contain;
    max-width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}

.header-alt {
    header {
        background-color: #000;
        .flex-header {
            padding: 12px 0;
            border-bottom: 0;

            h1 {
                a {
                    max-width: 110px;
                }
            }
        }
    }
}

.page {
    .wrap-opening {
        display: flex;
        align-items: center;
        height: calc(100vh - 65px);
        padding: 60px 0 0;
        @media(max-width: 768px) {
           height: auto;
           padding: 100px 0 50px;
        }

        &.wrap-alt {
            display: block;
            height: auto;
        }
    }
}

.page-title_section {
    .wrap-opening {
        padding: 74px 0 50px;
        @media(min-width: 769px) {
           padding: 60px 0 0;
        }
    }
}

.anchor-contact, .anchor-faq {
    padding: 50px 0 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    h1 {
        font-family: 'montserratsemi_bold';
        font-size: 3rem;
    }

    p {
        font-family: 'montserratregular';
        font-size: 1.4rem;
        margin: 0 0 30px;
    }

    a {
        background-color: #000;
        color: #fff;
        font-family: 'montserratsemi_bold';
        font-size: 1.3rem;
        padding: 10px 40px;

        &:hover {
            background-color: #009A00;
        }
    }
}


// Imports
@import "fontface";


// Animations
@keyframes animate-fade {
    from {
        opacity: 0;
        transform: translate(0,70px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

// Animations
@keyframes animate-fade_left {
    from {
        opacity: 0;
        transform: translate(-70px,0px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

// Animations
@keyframes animate-fade_right {
    from {
        opacity: 0;
        transform: translate(70px,0px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

.animate-fade {
    animation: animate-fade;
    transform: translate(0,0);
}
.animate-fade_right {
    animation: animate-fade_right;
    transform: translate(0,0);
}
.animate-fade_left {
    animation: animate-fade_left;
    transform: translate(0,0);
}
.wow {
    opacity: 0;
}

