
.home-available {
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    position: relative;
    height: 700px;
    @media(max-width: 768px) {
        height: 550px;
    }
    @media(min-width: 769px) {
        background-attachment: fixed;
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.85;
        background-color: rgba(0,0,0,0.8);
    }

    .top-circle {
        background-image: url('http://jumper.digital/outkey/wp-content/uploads/2016/12/circle-section-top.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        transform: translate(0%,-80%);
        z-index: 0;
    }

    > .content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
    }

    .mobile-devices_illustration {
        position: absolute;
        left: -50%;
        top: 50%;
        transform: translate(0,-50%);

        @media(max-width: 768px) {
            display: none;
        }
        @media(min-width: 1200px) {
            left: -25%;
        }
    }

    .download-available {
        color: #fff;
        max-width: 600px;
        @media(max-width: 768px) {
            margin: auto;
        }

        h2 {
            margin: 0 0 15px;
            font-weight: 300;
            font-size: 2.5rem;
            b {
                font-weight: 600;
            }
        }
        p {
            font-family: 'montserratlight';
            font-size: 1.2rem;
            margin: 0 0 15px;
        }
        ul {
            display: flex;
            justify-content: flex-start;
            padding: 20px 0 0;
            li {
                margin-right: 10px;
                a {
                    border-radius: 100px;
                    border: 1px solid #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    width: 60px;
                    color: #fff;
                    font-size: 1.8rem;

                    &:hover {
                        background-color: #fff;
                        color: #333;
                        box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }

}