.contact-page {

    .wrap-opening {
        .wrap-contact {
            padding: 50px 0 200px;
            @media(max-width: 800px) {
                padding: 50px 0;
            }

            &.flex-cols {
                display: flex;
                flex-flow: wrap;

                .col-left {
                    width: 65%;
                    @media(max-width: 800px) {
                        width: 100%;
                    }

                    p {
                        font-family: 'montserratregular';
                    }
                    h2 {
                        font-family: 'montserratsemi_bold';
                    }

                    .sending-form {
                        height: 300px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .success-form {
                        align-items: center;
                        display: flex;
                        flex-flow: column;
                        height: 450px;
                        justify-content: center;
                        margin: 0 auto;
                        max-width: 500px;
                        text-align: center;

                        h1 {
                            font-family: 'montserratsemi_bold';
                            font-size: 2.5rem;
                            color: #333;
                            margin: 0 0 20px;
                            @media(max-width: 600px) {
                               font-size: 2rem;
                            }
                        }
                        p {
                            font-size: 1rem;
                            margin: 0 0 20px;
                        }
                        span {
                            font-size: 2rem;
                            color: #009A00;
                        }
                    }

                    form {
                        .content-form {
                            padding: 40px 40px 0px 0px;
                            @media(max-width: 600px) {
                                padding: 40px 0px;
                            }

                            .row-form {
                                display: flex;
                                flex-flow: nowrap;
                                justify-content: space-between;
                                margin: 0 0 40px;
                                width: 100%;
                                @media(max-width: 600px) {
                                   flex-flow: wrap;
                                }

                                .input-default {
                                    width: 100%;
                                    position: relative;

                                    label {
                                        font-family: 'montserratregular';
                                        font-size: 1.5rem;
                                        color: #555;
                                        left: 0;
                                        position: absolute;
                                        top: 5px;
                                        z-index: 0;
                                    }

                                    input {
                                        background-color: transparent;
                                        border: 0;
                                        border-bottom: 2px solid #555;
                                        font-size: 1.5rem;
                                        font-family: 'montserratsemi_bold';
                                        width: 100%;
                                        height: 40px;
                                        transition: all 0.5s;
                                        z-index: 1;
                                        position: relative;
                                        border-radius: 0;

                                        &:valid ~ label, &:focus ~ label {
                                            color: #009A00;
                                            font-size: 0.8rem;
                                            top: -15px;
                                            transition: all 0.5s;
                                        }
                                        &:valid , &:focus {
                                            border-color: #009A00;
                                        }

                                    }

                                }

                                .textarea-default {
                                    padding: 10px 0 0 0;
                                    width: 100%;

                                    textarea {
                                        width: 100%;
                                        height: 220px;
                                        border: 0;
                                        border-bottom: 2px solid #555;
                                        padding: 10px 0px;
                                        font-size: 1.2rem;
                                    }
                                }

                                &.two {
                                    @media(min-width: 601px) {
                                        .input-default {
                                            width: calc(100%/2.1);
                                        }
                                    }
                                    @media(max-width: 601px) {
                                        margin: 0;
                                        .input-default {
                                            margin: 0 0 40px;
                                        }
                                    }
                                }

                            }
                            .env-form {
                                display: flex;
                                justify-content: flex-end;

                                .submit-form {
                                    background-color: #000;
                                    border: 0;
                                    color: #fff;
                                    font-size: 1.4rem;
                                    font-family: 'montserratsemi_bold';
                                    padding: 15px 20px;
                                    cursor: pointer;
                                    transition: 0.5s;

                                    &:hover {
                                        background-color: #009A00;
                                    }
                                }
                            }

                        }
                    }
                }

                .col-right {
                    width: 35%;
                    @media(max-width: 800px) {
                        width: 100%;
                        padding: 50px 0 0;
                    }

                    .wgt {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 50px;
                        margin-bottom: 50px;

                        .title-wgt {
                            display: flex;
                            flex-flow: nowrap;
                            justify-content: flex-start;
                            margin-bottom: 10px;

                            h2 {
                                font-family: 'montserratregular';
                                font-size: 1.2rem;
                                color: #333;
                            }

                            &:before {
                                content: "";
                                height: 0px;
                                width: 0px;
                                display: block;
                                border-left: 12px solid transparent;
                                border-right: 12px solid transparent;
                                border-top: 15px solid #009A00;
                                border-bottom: 15px solid transparent;
                                transform: rotate(-30deg) translate(-5px, 5px);
                            }


                        }

                        p {
                            font-family: 'montserratlight';
                            margin-bottom: 10px;
                            line-height: 28px;
                        }

                        h2 {
                            text-align: right;
                            font-family: 'montserratregular';
                        }

                        &.wgt-about-us {
                            ul {
                                li {
                                    margin: 20px 0;
                                    a {
                                        display: flex;
                                        flex-flow: nowrap;
                                        align-items: center;

                                        span {
                                            height: 65px;
                                            width: 65px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            color: #fff;
                                            background: #009A00;
                                            border-radius: 100px;
                                            font-size: 2rem;
                                            @media(max-width: 601px) {
                                                height: 50px;
                                                width: 50px;
                                                font-size: 1.5rem;
                                            }
                                        }
                                        p {
                                            margin: 0 0 0 20px;
                                            color: #333;
                                            font-size: 1.5rem;
                                            @media(max-width: 601px) {
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }

                        }

                    }
                }

            }
        }
    }

}