.title-opening {
    background-image: url('http://jumper.digital/outkey/wp-content/uploads/2016/12/background-outkey-wgt.png');
    background-position: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;

    h2 {
        font-size: 2.5rem;
        text-align: center;
        color: #fff;
        font-family: 'montserratsemi_bold';

        @media(max-width: 700px) {
           font-size: 1.8rem;
        }
    }
}