.carouselTestimonials {
    padding: 70px 0;

    .icon-testimonials {
        max-width: 100px;
        margin: auto;
        padding: 0 0 20px;
        text-align: center;
        font-size: 4rem;
        span {
            color: #333;
        }
    }

    .slider-frame {
        min-height: 250px;
    }

    .wrap-testimonial {
        display: flex;
        justify-content: center;
        padding: 0 15px;

        .content-testimonial {
            align-items: center;
            display: flex;
            flex-flow: column;
            max-width: 600px;
            width: 100%;

            text-align: center;

            p {
                line-height: 25px;
                font-size: 0.9rem;
                font-family: 'montserratlight';
            }

            .thumb-author {
                display: flex;
                flex-flow: column;
                align-items: center;
                padding: 30px 0 0;

                span.radius-thumb {
                    border-radius: 100px;
                    border: 2px solid green;
                    padding: 3px;
                    display: block;
                    height: 90px;
                    width: 90px;
                    overflow: hidden;
                    box-sizing: border-box;

                    span {
                        overflow: hidden;
                        border: 2px solid green;
                        display: block;
                        height: 100%;
                        width: 100%;
                        border-radius: 100px;
                        box-sizing: border-box;

                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .description-author {
                    padding: 15px 0;
                    font-family: 'montserratlight';
                }
            }
        }
    }

    .slider-decorator-0, .slider-decorator-1 {
        display: none;
    }

    .slider-decorator-2 {
        position: initial !important;
        bottom: auto !important;
        left: auto !important;
        transform: initial !important;
        bottom: auto !important;
        display: flex;
        justify-content: center;
        padding: 30px 0 0;
    }


}