.what-a-services {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    position: relative;

    &:before {
        background-color: rgba(0,0,0,0.8);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.85;
        top: 0;
    }

    @media(max-width: 700px) {
        background-image: none !important;
        background-color: #00A433;
        position: relative;
        &:before {
            opacity: 0;
        }
    }

    .content {
        position: relative;
        z-index: 1;
    }

    .title-section {
        display: flex;
        justify-content: center;

        h2 {
            color: #fff;
            font-size: 2.3rem;
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            padding-bottom: 20px;
            position: relative;
            font-family: 'montserratlight';
            @media(max-width: 600px) {
               font-size: 1.9rem;
            }

            &:after {
                background-color: #fff;
                border-radius: 100px;
                bottom: 0;
                content: "";
                height: 10px;
                left: 50%;
                position: absolute;
                transform: translate(-50%, 25%);
                width: 10px;
            }
            &:before {
                background-color: green;
                bottom: 0;
                content: "";
                height: 2px;
                left: 50%;
                max-width: 230px;
                position: absolute;
                transform: translate(-50%,-50%);
                width: 100%;
            }
        }
    }

    .flex-content_services {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 70px 0 0;
        max-width: 950px;
        margin: auto;

        @media(max-width: 600px) {
            flex-flow: column;
            width: 100%;
            align-items: center;
        }
        @media(max-width: 768px) {
            max-width: 550px;
        }

        article, a {
            width: 80%;
            margin-bottom: 50px;
            border: 2px solid #fff;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 30px 12px;

            display: flex;
            justify-content: space-between;
            text-align: center;
            flex-flow: column;

            @media(min-width: 600px) {
                width: calc(100%/2.3);
            }
            @media(min-width: 769px) {
                width: calc(100%/4.7);
            }

            span {
                height: 40px;
                width: 40px;
                margin: 0 auto 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.8rem;
                color: #fff;
            }

            p {
                font-size: 1.2rem;
                color: #fff;
                font-family: 'montserratsemi_bold';
                margin: 20px 0 0;
            }

            &.alt-bloc {
                background-color: green;
                border-color: green;
                @media(max-width: 700px) {
                    background-color: #222;
                    border-color: #222;
                }

                span {
                    border: 3px solid #fff;
                    border-radius: 100px;
                    padding: 20px;
                    box-sizing: border-box;
                    position: relative;
                    height: 60px;
                    width: 60px;

                    &:before  {
                        position: absolute;
                        content: "";
                        height: 3px;
                        top: 50%;
                        left: 50%;
                        width: 40px;
                        background-color: #fff;
                        transform: translate(-50%, -50%);
                        border-radius: 100px;
                    }

                    &:after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        height: 40px;
                        width: 3px;
                        background-color: #fff;
                        border-radius: 100px;
                    }
                }

                p {
                    align-items: center;
                    display: flex;
                    flex-flow: column;

                    b {
                        font-weight: normal;
                        border-bottom: 1px solid #fff;
                        display: block;
                        font-size: 0.8rem;
                    }
                }

                &:hover {
                    background-color: darken(green, 10%);
                    border-color: darken(green, 10%);
                    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.4);
                }

            }

        }
    }

}