.howitworks-page {

    .openingitworks-content {

        .wrap-opening {
            background-color: #fff;
            @media(max-width: 768px) {
                padding: 100px 0 50px;
            }

            .flex-opening {
                display: flex;
                align-items: center;
                flex-flow: wrap;

                @media(min-width: 769px) {
                   flex-flow: nowrap;
                }

                .col-left {
                    width: 60%;
                    padding: 0 30px 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media(max-width: 768px) {
                        width: 100%;
                        padding: 0 0 40px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }

                .col-right {
                    width: 40%;
                    text-align: left;
                    @media(max-width: 768px) {
                        width: 100%;
                    }

                    h2 {
                        font-family: 'montserratsemi_bold';
                        font-size: 3rem;
                        line-height: 55px;
                        margin: 0 0 10px;
                    }

                    p {
                        display: flex;
                        align-items: flex-start;
                        font-family: 'montserratlight';
                        font-size: 0.9rem;
                        line-height: 25px;

                        &:before {
                            content: "";
                            display: block;
                            height: 10px;
                            width: 100%;
                            max-width: 130px;
                            margin-right: 15px;
                            margin-top: 8px;
                            background-color: #00983D;
                        }
                    }
                }

            }
        }

        .how-it-works {
            position: relative;

            &:before {
                content: "";
                height: 70%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                opacity: 1;
                transition: all 0.3s;

                background: -moz-linear-gradient(top,  rgba(0,152,61,0.38) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(top,  rgba(0,152,61,0.38) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to bottom,  rgba(0,152,61,0.38) 0%,rgba(0,0,0,0) 100%);

            }

            .title-section {
                display: flex;
                flex-flow: column;
                align-items: center;
                position: relative;
                padding: 50px 0;
                max-width: 600px;
                margin: auto;
                width: 100%;

                h2 {
                    font-size: 2.3rem;
                    font-family: 'montserratsemi_bold';
                    text-align: center;
                }

                &:before {
                    content: "";
                    height: 10px;
                    max-width: 400px;
                    width: 100%;
                    background-color: #00983D;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

            }

            .how-it-works_list {
                position: relative;
                padding: 80px 0 40px;
                @media(max-width: 600px) {
                    padding: 20px 0 0;
                }

                &:before {
                    content: "";
                    left: 50%;
                    top: 30px;
                    border-radius: 10px;
                    position: absolute;
                    transform: translate(-50%, 0%);
                    background-color: #000;
                    width: 5px;
                    height: 95%;

                    @media(max-width: 600px) {
                        left: 15px;
                        right: auto;
                    }
                }

                .how-it-works_item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 700px;
                    margin: 30px auto 90px;
                    position: relative;
                    @media(max-width: 600px) {
                        margin: 30px auto 60px;
                        padding-left: 40px;
                    }

                    &:before {
                        background-color: #00983D;
                        content: "";
                        height: 30px;
                        width: 30px;
                        border-radius: 100px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        @media(max-width: 600px) {
                            left: 0;
                            right: auto;
                            transform: translate(0,-50%);
                        }
                    }

                    .icon-about {
                        display: flex;
                        justify-content: center;
                        width: 50%;
                        padding-right: 50px;
                        align-items: center;

                        @media(max-width: 600px) {
                           padding-right: 15px;
                           width: 40%;
                        }

                        img {
                            max-width: 100%;
                            display: block;
                            height: auto;
                        }
                    }

                    .the-content-work {
                        width: 50%;
                        padding-left: 50px;

                        h2 {
                            font-size: 2rem;
                            margin: 0 0 10px;
                            font-family: 'montserratsemi_bold';
                        }
                        p {
                            font-size: 1.2rem;
                            font-family: 'montserratlight';
                        }

                        @media(max-width: 600px) {
                            padding-left: 0px;
                            width: 60%;

                            h2 {
                                font-size: 1.2rem;
                            }
                            p {
                                font-size: 0.9rem;
                            }
                        }
                    }

                    @media(min-width: 600px) {
                        &:nth-child(2n){
                            .icon-about {
                                order: 2;
                                padding-left: 30px;
                                padding-right: 0px;
                            }
                            .the-content-work {
                                order: 1;
                                padding-left: 0px;
                                padding-right: 30px;
                            }
                        }
                    }

                }
            }
        }
    }

}