

@font-face {
    font-family: 'montserratlight';
    src: url('./assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
        url('./assets/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratregular';
    src: url('./assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('./assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratsemi_bold';
    src: url('./assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
        url('./assets/fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}