header {
    background-color: rgba(0,0,0,0);
    position: absolute;
    width: 100%;
    z-index: 100;
    @media(max-width: 768px) {
        background-color: rgba(0,0,0,0.7);
        position: fixed;
    }

    .flex-header{
        border-bottom: 1px solid rgba(255,255,255,0.5);
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        padding: 12px 0;
        @media(max-width: 768px) {
            border-bottom: 0;
        }

        h1 {
            @media(max-width: 768px) {
                display: flex;
                align-items: center;
            }

            a {
                display: block;
                max-width: 150px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .menu-open {
            position: relative;
            border: 2px solid #fff;
            padding: 10px;
            background-color: transparent;
            height: 50px;
            width: 50px;
            cursor: pointer;

            @media(min-width: 769px) {
               display: none;
            }

            span {
                background-color: #fff;
                height: 3px;
                width: 100%;
                margin: 5px 0;
                display: block;
                transition: all 0.3s;
            }

            &:before {
                background-color: #fff;
                content: "";
                height: 3px;
                width: 100%;
                display: block;
            }

            &:after {
                background-color: #fff;
                content: "";
                height: 3px;
                width: 100%;
                display: block;
            }

            &:after, &:before {
                transition: all 0.3s;
            }

        }

    }

    nav {
        display: flex;

        .navbarList {
            display: flex;
            justify-content: space-between;

            li {
                margin-left: 15px;

                a {
                    padding: 10px 20px;
                    color: #fff;
                    font-family: 'montserratregular';
                    font-size: 0.95rem;

                    &:hover {
                        color: #00983D;
                    }

                    &.active {
                        span {
                            color: #00983D;
                        }
                    }
                }

                &.social-media_head {
                    border-left: 1px solid #fff;
                    @media(max-width: 800px) {
                        display: none;
                    }

                    ul {
                        display: flex;
                        flex-flow: nowrap;

                        li {
                            a {
                                display: block;
                                border-radius: 100px;
                                color: #fff;
                                padding: 0px 7px;

                                &:hover {
                                    color: #00983D;
                                }
                            }
                        }
                    }
                }

            }
        }

        @media(min-width: 769px) {
            align-items: center;
            .downloads {
                display: none;
            }
        }
        @media(max-width: 768px) {
            background: rgba(0,0,0,0.9);
            position: fixed;
            left: -100%;
            max-width: 200px;
            width: 100%;
            height: 100vh;
            top: 0;
            transition: all 0.5s;
            flex-flow: column;

            .navbarList {
                flex-flow: column;
                justify-content: center;
                height: 100%;

                li {
                    margin-left: 0;

                    a {
                        display: block;
                        box-sizing: border-box;
                        font-size: 1.1rem;
                        width: 100%;
                    }
                }
            }

            .downloads {
                li {
                    display: block !important;
                    border-left: 0 !important;
                    padding-left: 0 !important;

                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }

        }

    }

    &.navbar-open {
        nav {
            left: 0;
        }

        .menu-open {
            span {
                opacity: 0;
            }
            &:before {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:after {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }

}