.list-clients {
    padding: 45px 0;
    @media(max-width: 700px) {
        padding: 0;
    }

    .slider.mobile {
        padding: 40px 0;
    }

    .wgt {
        &.flex-clients {
            ul {
                display: flex;
                flex-flow: wrap;

                li {

                }
            }
        }
    }

    .desktop {
        @media(max-width: 700px) {
           display: none !important;
        }
    }
    .mobile {
        @media(min-width: 701px) {
           display: none !important;
        }
    }

    .slider-list {
        min-height: 100px;
    }

    .slider-slide {
        @media(max-width: 600px) {
           margin: 0 10px;
        }

        img {
            display: block;
            margin: auto;
            max-width: 100%;
            height: auto;
            transition: all 0.3s;

            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &:hover {
            img {
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }
    }

    .slider-decorator-0, .slider-decorator-1, .slider-decorator-2 {
        display: none;
    }

}